<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediapipemultihandstracking">

    <!-- For using the camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- For MediaPipe -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="cameraFacingFront" android:value="true"/>
        <meta-data android:name="binaryGraphName" android:value="multi_hand_tracking_mobile_gpu.binarypb"/>
        <meta-data android:name="inputVideoStreamName" android:value="input_video"/>
        <meta-data android:name="outputVideoStreamName" android:value="output_video"/>
        <meta-data android:name="flipFramesVertically" android:value="true"/>

    </application>

</manifest>